*{
	padding: 0;
	margin: 0;
	
}
.wrap{
	width:1200px;
	height:500px;
	/* background:green; */
	margin: auto;
	overflow: hidden;
}
.pratent{
	width:auto;
	height:250px;
	/* background: red; */
	margin-left:-3.33%
}
.son{
	width:30%;
	height:auto;
	/* background:yellow; */
	float:left;
	margin-left: 3.33%;
}
img{
	max-width:100%;
}
.son img {
    margin-bottom: 10px;
}

.son h2 {
    font-size: 20px;
    margin-bottom: 10px;
}